@theme inline {
  @keyframes spin-to-left {
    0% {
      transform: rotate(-30deg);
    }
    99% {
      transform: rotate(-360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  --animate-spin-to-left: 0.4s ease-out spin-to-left;
}
