@theme inline {
  @keyframes spin-to-left {
    0% {
      transform: rotate(-30deg);
    }
    99% {
      transform: rotate(-360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes win-pulse {
    33% {
      box-shadow: 0 0 32px var(--color-blue-500);
    }

    100% {
      box-shadow: 0 0 32px transparent;
    }
  }

  --animate-spin-to-left: 0.4s ease-out spin-to-left;
  --animate-win-pulse: 1.5s 0.1s win-pulse;
}
